{% extends "layout.html" %}
  
{% block mainContent %}
  
    <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">New Event</h3>
            </div>
            <div class="panel-body">
              Provide details of the event below
            </div>
          </div>
        </div>
    </div><!-- /.col-sm-4 -->
  
  {% if errors %}
    <div class="form-errors">
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    
  {% endif %}
	<form id="create-event" method="POST">
	  
	  <div class="form-group">
      <label for="title">Event title:</label>
      <input type="text" name="title">
    </div>
    
    <div class="form-group">
      <label for="location">Event location:</label>
      <input type="text" name="location">
    </div>
    
    <div class="form-group">
      <label for="image">Event image:</label>
      <input type="text" name="image">
    </div>
    
    <div class="form-group">
      <label for="year">Event year:</label>
      <select name="year" id="year">
        {% for year in allowedDateInfo.years %}
          <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="month">Event month:</label>
      <select name="month" id="month">
        {% for monthNumber, monthName in allowedDateInfo.months %}
          <option value="{{monthNumber}}">{{monthName}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="day">Event day:</label>
      <select name="day" id="day">
        {% for day in allowedDateInfo.days %}
          <option value="{{day}}">{{day}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="hour">Event hour:</label>
      <select name="hour" id="hour">
        {% for hour in allowedDateInfo.hours %}
          <option value="{{hour}}">{{hour}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="minute">Event minute:</label>
      <select name="minute" id="minute">
        {% for minute in allowedDateInfo.minutes %}
          <option value="{{minute}}">{{minute}}</option>
        {% endfor %}
      </select>
    </div>
    
   <button type="submit" class="btn btn-default" name="Submit" id="Submit">Submit</button>
  </form>
{% endblock %}