
{% extends "layout.html" %}
{% block mainContent %}
<div class="container theme-showcase" role="main">
    <div class="inner cover">
        <h3 class="cover-heading">Welcome to {{ title }}. {{tagline}} </h3>
        <IMG id="logo" SRC="http://www.ciros-club.com/ashby-de-la-zouch/themes/HTML5boilerplate/images/background.jpg" ALT=“Team Logo Here” WIDTH=150 HEIGHT=150>
        <div class="page-header">
            <h3>Here is our list of events</h3>
        </div>
        <div class="well">
            <p>
              {% include "fragments/events-list.html" %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
