body {
  padding-top: 70px;
  padding-bottom: 30px;
  color: ##5a5a5a;
  text-shadow: 1px 1px 1px #ccc;;
}
body {
  margin: 0;
  background-color: #bbb;
  background-size: cover;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.form-errors {
	color: red;
}

.global-box p {
    margin-bottom: 5px;
}
